h1 {
    color: aqua;
}

h3 {
    color: aqua;
}

body {
    background-color: #1f1f1f;
    border: aqua solid 5px;
    padding: 8px 16px;
    margin: 0 20%;
}

ul, ol {
    color: aquamarine;
}

.center {
    text-align: center;
  }

  p {
    color: aquamarine;
  }

  .recipe-box {
    border-top: aqua solid 5px;
    border-bottom: aqua solid 5px; 
    padding: 8px 16px;
    margin: 0 auto;
  }
